/* Color theme customization to make accent on purple colors */
:root {
    --vp-c-brand-1: var(--vp-c-purple-1);
    --vp-c-brand-3: var(--vp-c-purple-3);
}

/* Opt-in nowrap via a class */
.nobr {
    white-space: nowrap;
}

abbr {
    cursor: help;
}

.language-tags code,
.language-prompt code {
    white-space: pre-line !important;
}

/*
    God bless this kind person for sharing the code snippet that adds the
    ability to zoom images.
    https://github.com/vuejs/vitepress/issues/854#issuecomment-1232938474
*/
.medium-zoom-overlay {
    z-index: 1000000;
}

.medium-zoom-image {
    z-index: 1000001;
}

.figure {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.width75 {
    max-width: 75%;
}

.width50 {
    max-width: 50%;
}

.width30 {
    max-width: 30%;
}

.float-right {
    float: right;
}

.icon {
    display: inline-block;
    background-size: contain;
    min-width: 1em;
    height: 1em;
    text-decoration: underline;
    background-repeat: no-repeat;
    margin-bottom: -3px;
}

/* generic icons */

.landscape {
    background-image: url(/icons/landscape-black.png);
}
.dark .landscape {
    background-image: url(/icons/landscape-white.png);
}

.portrait {
    background-image: url(/icons/landscape-black.png);
    transform: rotate(-90deg);
}
.dark .portrait {
    background-image: url(/icons/landscape-white.png);
}

.square {
    background-image: url(/icons/square-black.png);
}
.dark .square {
    background-image: url(/icons/square-white.png);
}

/* logos */
.aura-flow {
    background-image: url(/logos/aura-flow.png);
}
.derpibooru {
    background-image: url(/logos/derpibooru.svg);
}
.forge {
    background-image: url(/logos/forge.svg);
}
.nvidia {
    background-image: url(/logos/nvidia.svg);
}
.purplesmart-ai {
    background-image: url(/logos/purplesmart-ai.ico);
}
.stability-ai {
    background-image: url(/logos/stability-ai.png);
}
.stability-matrix {
    background-image: url(/logos/stability-matrix.ico);
}
.tantabus {
    background-image: url(/logos/tantabus.svg);
}
.windows {
    background-image: url(/logos/windows.svg);
}
